[submodule "jni/minui"]
	path = jni/minui
	url = https://github.com/ftmdevlopment/minui.git
[submodule "jni/libpng"]
	path = jni/libpng
	url = https://github.com/ftmdevlopment/libpng.git
[submodule "jni/zlib"]
	path = jni/zlib
	url = https://github.com/ftmdevlopment/zlib.git
[submodule "jni/tinyalsa"]
	path = jni/tinyalsa
	url = https://github.com/ftmdevlopment/tinyalsa.git
